body{
    background-color: rgb(222, 239, 231);
}
h1{
    text-align: center;
    border: 10px;
    background-color: rgb(0, 35, 51);
    color: rgb(255, 255, 255);
}
#processText{
    align-items: center;
    width: 90%;
    border-style: solid;
    border-color: white;
    border-inline-width: 10px;
    border-left-color: rgb(21, 154, 156);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
#box{
    background-color: rgb(180, 190, 201);
    margin-inline: 33%;
    align-content: center;
    border-radius: 10px;
}
#subTitle{
    text-align: center;
    color: white;
}
#text{
    background-color: white;
    padding: 10px;
    text-align: center;
    color: rgb(0, 35, 51);
}